/************ GENERELT ***************/

* {
    box-sizing: border-box;
    /* outline: auto; */
}

img {
    width: 100%;
}

video {
    width: 100%;
    height: auto;
    border: solid 2px #f9db6d;
    border-radius: 10px;
}

body {
    margin: 0;
    background-color: rgba(63, 40, 71, 1);
    background-image: url(elements/stars_bg.png);
}

section {
    margin: 0 auto;
    max-width: 1300px;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.frame {
    border: solid 5px #f9db6d;
    margin: 3vw;
    padding: 0 1rem 3rem 1rem;
    border-radius: 22px;
}

h1 {
    color: #f2a05e;
    font-family: 'Timmana', sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0;
    line-height: 100%;
}

p,
ul,
li {
    color: rgba(249, 219, 109, 0.90);
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-top: 0;
    font-size: 0.95rem;
}

/********************************** MENU ********/

header {
    position: fixed;
    z-index: 1;
    top: 1vw;
    width: 100%;
}

#topnav .menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 8rem;
}

#topnav a {
    background-color: #f9db6d;
    width: 160px;
    height: 42px;
    padding: 8px;
    margin: 10px 35px;
    border-radius: 3px;
    text-align: center;
    color: rgba(63, 40, 71, 1);
    text-decoration: none;
    font-family: 'Turret Road', cursive;
    font-weight: bolder;
    font-size: 1.4rem;
    cursor: pointer;
    flex-grow: 1;
}

#topnav a:hover {
    background-color: #302c4f;
    color: #f9db6d;
    border: solid 1px #f2a05e;
}

.active_site {
    background-color: #302c4f !important;
    color: #f9db6d !important;
    border: solid 1px #f2a05e;
}

#menuknap_div {
    background-color: rgba(63, 40, 71, 1);
    width: 50px;
    height: 60px;
}

#menuknap {
    color: #f2a05e;
    width: 50px;
    height: 50px;
    z-index: 101;
    cursor: pointer;
    font-size: 40px;
    line-height: normal;
    margin-top: 1vw;
    margin-left: 2vw;
    font-family: 'Turret Road', cursive;
}

#burger {
    z-index: 200;
}

#burger ul {
    margin-top: 0;
    padding-left: 6vw;
    z-index: 101;
}

#burger li {
    list-style-type: none;
    text-align: left;
    margin: 1.5vw 0;
    background: linear-gradient(to right, #EE6615 10%, #ECB66C 21%);
    width: 211px;
    height: 42px;
    padding: 8px;
    padding-left: 40px;
    border-radius: 3px;
    z-index: 101;
    box-shadow: 7px 7px #4e3d24;
}

#burger a {
    padding: 5px;
    color: #3f2847;
    text-decoration: none;
    font-family: 'Turret Road', cursive;
    font-weight: bolder;
    font-size: 1.4rem;
    cursor: pointer;
    z-index: 101;
}

/********************************** FORSIDE ***************/

#forside {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    max-width: none;
}

#splash_bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(splash/stars.png);
    background-size: cover;
    background-position: 50% 20%;
}

#splash_mg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(splash/clouds.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 37% 20%;
}

#splash_fg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(splash/landscape.png);
    background-size: cover;
    background-position: 34% 20%;
}

.border {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(splash/border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    display: none;
    overflow: hidden;
}

#title {
    position: absolute;
    width: 100%;
    height: 70vh;
    background-image: url(splash/text.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 4.5rem 0 2.5rem 2rem;
}

#forside .frame {
    height: 97%;
    position: inherit;
}

/******************************** PORTFOLIO *************/

#portfolio {
    max-width: 1300px;
    padding: 4.5vw 4vw 0 4vw;
    background-image: url(elements/stars_bg.png);
}

.mappe {
    width: 100px;
    height: 221px;
    flex-grow: 1;
    flex-basis: 260px;
    margin-top: 4vw;
    margin-bottom: 10vw;
}


.mappe a {
    z-index: 101;
    cursor: pointer;
}

/******************************** OM MIG *****************/

#om_mig {
    background-image: url(elements/stars_bg.png);
    background-size: cover;
}

#om_mig .col {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 1rem 5rem 1rem;

    background-color: #302c4f;
    border-radius: 22px;
    box-shadow: 10px 10px rgba(33, 30, 54, 0.76);
    border: solid 1px #f2a05e;
}

#om_mig .col .img_box {
    flex-grow: 1;
    flex-basis: 600px;
    margin: 2rem 2rem 0 2rem;
    padding: 0;
}

#om_mig .col .txt {
    flex-grow: 1;
    flex-basis: 600px;
    margin: 1rem;
    padding: 0;
}

ul {
    padding-left: 5rem;
}

/******************************* TEMAER *************/

#tema_2,
#tema_3,
#tema_4,
#tema_5 {
    background-image: url(elements/stars_bg.png)
}

#tema_2 .col,
#tema_3 .col,
#tema_4 .col,
#tema_5 .col {
    margin: 5rem 1rem 0rem 1rem;
    padding: 1rem;

    background-color: #302c4f;
    border-radius: 22px;
    box-shadow: 10px 10px rgba(33, 30, 54, 0.76);
    border: solid 1px #f2a05e;
}

.top {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding: 0 0rem 1rem 0rem;
}

.bottom .txt {
    margin-top: 0 !important;
}

.bottom h1 {
    margin-bottom: 0;
    margin-top: 2rem;
}

#tema_2 .img_box,
#tema_3 .img_box,
#tema_4 .img_box,
#tema_5 .img_box {
    flex-grow: 1;
    margin: 1vw;
}

#tema_2 .img_box_2,
#tema_3 .img_box_2,
#tema_4 .img_box_2,
#tema_5 .img_box_2 {
    flex-grow: 1;
    margin: 1vw;
    padding-bottom: 1rem;
}

#tema_2 .txt,
#tema_3 .txt,
#tema_4 .txt,
#tema_5 .txt {
    flex-grow: 1;
    margin-top: 3vw;
    padding: 0;
}


.knap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.knap a {
    background-color: #4d2d66;
    border-radius: 8px;
    border: solid 1.5px #f9db6d;
    text-decoration: none;
    color: #f9db6d;
    text-align: center;
    padding: 0.8rem;
    margin: 1rem;

    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 0.95rem;
}

.knap a:hover {
    transform: scale(1.1);
    box-shadow: 6px 7px rgba(33, 30, 54, 0.76);
    transition: 0.4s;
}

.video_box {
    align-self: center;
}

/********************************* ANIMATIONS ****************/

.float {
    animation-name: float_kf;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes float_kf {
    0% {
        transform: translateX(10vw);
    }

    50% {
        transform: translateX(-10vw);
    }

    100% {
        transform: translateX(10vw);
    }

}

.hidden {
    display: none;
}

.overlay {
    opacity: 0.5;
}

.bigger {
    animation-name: bigger_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes bigger_kf {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.bigger_reverse {
    animation-name: bigger_reverse_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes bigger_reverse_kf {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/**************************** MEDIA QUERIES ************/

@media only screen and (min-width: 540px) {
    h1 {
        font-size: 3rem;
    }

    #om_mig .col .img_box {
        padding: 1rem;
    }

    #om_mig .col .txt {
        padding: 0rem 3.5rem 3.5rem 3.5rem;
    }

    #tema_2 .txt,
    #tema_3 .txt,
    #tema_4 .txt,
    #tema_5 .txt {
        padding: 0 1.5rem;
    }

    #tema_2 .img_box_2,
    #tema_3 .img_box_2,
    #tema_4 .img_box_2,
    #tema_5 .img_box_2 {
        padding: 1rem 3rem 2rem 3rem;
    }
}

@media only screen and (min-width: 800px) {

    #menuknap,
    #menuknap_div,
    #burger {
        display: none;
    }

    #topnav {
        display: block;
    }

    .mappe {
        flex-basis: 262px;
    }

    #title {
        margin: 5.5rem 0 2.5rem 5rem;
    }

    .knap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    #tema_2 .img_box,
    #tema_3 .img_box,
    #tema_4 .img_box,
    #tema_5 .img_box {
        padding: 2rem 2rem 0 2rem;
    }

    #tema_2 .txt,
    #tema_3 .txt,
    #tema_4 .txt,
    #tema_5 .txt {
        padding: 0 4rem 1rem 4rem;
    }

}

@media only screen and (min-width: 857px) {
    .mappe {
        flex-basis: 307px;
    }

}

@media only screen and (min-width: 1000px) {
    header #topnav a {
        padding: 10px 40px;
    }

    .border {
        display: block;
        pointer-events: none;
    }

    .mappe {
        flex-basis: 329px;
        margin-top: -4vw;
        margin-bottom: 9vw;
    }

    #forside .frame {
        height: 91%;
        position: inherit;
    }

    #om_mig .col {
        margin: 7rem 4rem 7rem 4rem;
    }

    #om_mig .col .img_box {
        flex-basis: 250px;
        margin: 4rem 2rem 0 2rem;
    }

    #om_mig .col .txt {
        flex-basis: 250px;
        padding: 0rem 3.5rem 3.5rem 0;
    }

    #om_mig .col h1 {
        font-size: 3rem;
    }

    h1 {
        margin: 2rem 0;
    }

    p,
    ul,
    li {
        font-size: 0.70rem;
    }

    #tema_2 .col,
    #tema_3 .col,
    #tema_4 .col,
    #tema_5 .col {
        margin-top: 6rem;
    }

    .top {
        flex-direction: row;
    }

    #tema_2 .img_box,
    #tema_3 .img_box,
    #tema_4 .img_box,
    #tema_5 .img_box {
        flex-basis: 500px;
    }

    #tema_2 .txt,
    #tema_3 .txt,
    #tema_4 .txt,
    #tema_5 .txt {
        padding: 0 3rem 1rem 1rem;
    }

    #tema_5 .top .txt {
        padding: 0 3rem 5rem 1rem;
    }

    .top .txt {
        flex-basis: 500px;
    }

    #tema_2 p,
    #tema_3 p,
    #tema_4 p,
    #tema_5 p {
        font-size: 0.95rem;
    }

    .bottom {
        padding: 0 5rem 1rem 5rem;
    }

    #tema_2 .img_box_2,
    #tema_3 .img_box_2,
    #tema_4 .img_box_2,
    #tema_5 .img_box_2 {
        padding: 0rem 2rem 2rem 0rem;
    }

    .frame_dif {
        top: 39px;
        bottom: 8px;
        right: 39px;
        left: 39px;
        margin: 1vw;
        position: absolute;
    }
}

@media only screen and (max-width: 1000px) {
    #splash_mg {
        position: absolute;
        width: 160%;
        background-position: 128% 51%;
    }

}

@media only screen and (min-width: 1070px) {
    .mappe {
        flex-basis: 410px;
        margin-top: -3vw;
        margin-bottom: 10vw;
    }

}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }

    #om_mig .col {
        margin: 7rem 1rem 0 1rem;
    }

    #om_mig .col .img_box {
        flex-basis: 300px;
        margin: 2rem;
        padding-top: 2.5rem;
    }

    #om_mig .col .txt {
        flex-basis: 300px;
        padding: 1.8rem 3.5rem 3.5rem 1.5rem;
    }

    #om_mig .col h1 {
        font-size: 4rem;
    }

    p,
    ul,
    li {
        font-size: 0.95rem;
    }

    #title {
        padding: 4rem 0rem 0rem 1rem;
    }

}

@media only screen and (min-width: 1400px) {
    #title {
        margin: 7.5rem 0 2.5rem 7rem;
    }

    #topnav .menu {
        padding: 0 20rem;
    }

    .bottom {
        padding: 0 12rem 1rem 12rem;
    }

}

@media only screen and (min-width: 1500px) {

    #title {
        height: 80vh;
        margin: 6.5rem 0 2.5rem 8rem;
    }
}
